@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Users List";
}

<h1>Users List (<span>@ViewBag.UsersCount</span>)</h1>
<hr />

<div>
    @if (Model.Any())
    {
        <a class="btn btn-success mb-3" asp-controller="Account" asp-action="Register">Add new User</a>

        foreach (var user in Model)
        {
            <div class="card mb-3">
                <div class="card-header">
                    User Id: @user.Id
                </div>

                <div class="card-body">
                    <h4 class="card-title">@user.UserName</h4>
                </div>
                @*<p class="card-text">Some example text</p>*@
                <div class="card-footer">
                    <form asp-action="DeleteUser" method="post" asp-route-Id="@user.Id">
                        <a class="btn btn-primary" asp-controller="Administration" asp-action="EditUser" asp-route-id="@user.Id">Edit</a>

                        @*Delete confirmation by popup window browser: *@
                        <!--<button type="submit" class="card-link btn btn-danger" onclick="return confirm('Are you sure you want to delete user : @user.UserName')">Delete</button>-->

                        @*Delete Confirmation by spaning message with Yes or No button using JavaScript*@
                        <span id="confirmDeleteSpan_@user.Id" style="display:none">
                            <span class="text-danger">Are you sure you want to delete @user.UserName ?</span>
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <button type="button"  class="btn btn-primary" onclick="ConfirmDelete('@user.Id ', false)">No</button>
                        </span>
                        <span id="deleteSpan_@user.Id">
                            <button type="button" class="btn btn-danger" onclick="ConfirmDelete('@user.Id',true)">Delete</button>
                        </span>

                    </form>

                </div>
            </div>
        }
    }
    else
    {
        <div class="card">
            <div class="card-header">
                No Users cerated yet!
            </div>

            <div class="card-body">
                <h5 class="card-title">
                    Use the button below to create a User
                </h5>
                <a class="btn btn-primary" asp-controller="Account" asp-action="Register">
                    Create User
                </a>
            </div>

            @*<div class="card-footer">Footer</div>*@
        </div>
    }
</div>

@*the script also working fine if add it like this :
<script src="~/js/CustomJavaScript.js"></script>*@

@section Scripts {
        <script src="~/js/CustomJavaScript.js"></script>
    }



